<a href="https://colab.research.google.com/github/galaceangela/Renaming-Deleting-Missing-Data-/blob/main/Renaming%2C_Deleting%2C_%26_Missing_Data_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/galaceangela/Renaming-Deleting-Missing-Data-/main/RailsToTrails_National%20Count%20Data_week.csv')

In [3]:
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Remove unnecessary columns
df = df.drop(columns=['Unnamed: 7'])
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Remove unnecessary columns
df = df.drop(columns=['Unnamed: 8'])
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Remove unnecessary columns
df = df.drop(columns=['Unnamed: 9'])
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# DataFrame before renaming columns
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# This wont work as there is a space in the column name
df.Unnamed: 6

In [9]:
# Approach 1 dictionary substitution using rename method
df = df.rename(columns={'Unnamed: 6': 'percent_change'})
# DataFrame after renaming columns
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN